# Postgres Database Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=joyfulpath
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/joyfulpath?schema=public

# Redis Config
REDIS_URL=redis://localhost:6379

# Next.js Config
NEXT_PUBLIC_API_URL=http://localhost:3001

